.App {
    display: flex;
    text-align: end;
  }
  
  
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  

  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .leaflet-container {
    width: 50vw;
    height: 50vh;
    margin-left: 5vw;
  }
  
 
  
  .sidebar h2,
  .sidebar p,
  .sidebar ul {
    text-align: left;
  }
  
